.types{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

@media (max-width: 1279px)
{
    .types{
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
}