.pokemon-stat-list ul{
    list-style: none;
}
.pokemon-stat-list h2{
    color: white;
    text-transform: uppercase;
    margin-left: 130px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 10px;
}

.pokemon-stat-list{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    max-width: 600px;
    height: 100%;
    margin-bottom: 10px;
    flex: 1;
}

@media (max-width: 1279px)
{
    .pokemon-stat-list h2{
        margin-left: 0px;
    }
    
    .pokemon-stat-list{
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }

    .pokemon-stat-list ul{
        display: flex;
        align-items: flex-start ;
        flex-direction: column;
        align-self: flex-start;
        margin: auto
    }
}