.pokemon-list{
    overflow-y: scroll;
    height: 75%;
    width: 400px;
}
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #C4C4C422;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #C4C4C499;
    border-radius: 10px;
}


@media (max-width: 1366px)
{
    .pokemon-list{
        width: 300px;
    }
}

@media (max-width: 1279px)
{
    .pokemon-list{
        overflow-x: scroll;
        overflow-y: visible;
        height: auto;
        width: 100%;
        display: flex;
        align-items: flex-end;
        padding-left: 10px;
    }
}