.abilities-list h2{
    color: white;
    text-transform: uppercase;
    margin-left: 130px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 10px;
}

.abilities-list{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.abilities-list ul{
    list-style: none;
    
}

.abilities-list div{
    display: flex;
}

@media (max-width: 1279px)
{
    .abilities-list h2{
        margin-left: 0px;
    }
    
    .abilities-list{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
}